body {
  background-color: white;
/* Use a system font, if none are available use an available sans-sarif   font */
font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
  Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
margin: 0;
height: 100vh;
display: flex;
flex-direction: column;
align-items: center;
}

section.board {
display: grid;
justify-content: center;
grid-template-rows: repeat(3, 10vmin);
grid-template-columns: repeat(3, 10vmin);
grid-gap: 0vmin;
}

div {
border: 3px solid black;
font-size: 8vmin;
text-align: center;
vertical-align: middle;
}

h1 {
  display: flex;
  justify-content: center;
}

h2 {
  display: flex;
  justify-content: center;
}

#btn {
  margin-top: 40px;
  width: 80px;
  border-radius: 8px;
  color: white;
  background-color: black;
}

